// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

body:before {
    position: fixed;
    z-index: 1;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    background: #00d2ff;
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
  }

  
h1 {
  line-height: 1.2;
  font-size:4rem; 
  color:rgb(60, 120, 216);
}

h2 {
  font-size: 3rem;
  margin: 4rem 0 2rem 0;
  color:rgb(60, 120, 216);
}

h3 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

h4 {
  font-size: 1.3rem;
  margin: 0 0 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
}

ul > li {
  position: relative;
  padding: 0.2rem 0 0.2rem 1rem;
}

ul > li:before {
  position: absolute;
  left: 0;
  display: inline-block;
  content: "•";
  color: #3a7bd5;
}

.profile-paragraph {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 500;
}

// Small to large phone
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  .profile-paragraph {
    font-size: 1.2rem;
  }
}

// Small to medium tablet / laptop
@media screen and (min-width: 600px) and (max-width: 1264px) {
  h1 {
    font-size: 3rem;
  }
  .profile-paragraph {
    font-size: 1.3rem;
  }
}